@media screen and (max-width: 1286px) {
	.intro {
		flex-wrap: nowrap;
	}
	.intro-txt {
		width: 50%;
		box-sizing: border-box;
		margin-right: 0;
		padding-right: 15px;
	}
	.intro-heading {
		font-size: 5vw;
	}
	.intro a {
		width: 50%;
	}
	.intro img {
		width: 100%;
		height: auto;
	}
	.features-items {
		justify-content: flex-start;
	}
	.features-items-img {
		max-width: 100%;
		margin-right: 1vw;
	}
	.contacts-form {
		margin: 0 auto;
		margin-bottom: 30px;
		padding: 0 1vw;
		grid-column: 1 / 6;
		grid-row: 1 / 2;
	}
	.contacts-form-wrapper {
		margin-right: 0;
	}
	.contacts {
		flex-wrap: wrap;
		padding-left: initial;
		padding-right: initial;
		padding-bottom: 0;
		grid-template-columns: 100%;
	}
	.contacts-left-inv {
		flex: 0 1 auto;
	}
	.contacts-adress {
		width: 100%;
		max-width: 100%;
		grid-column: 1 / 6;
		grid-row: 2 / 3;
	}
	
	.contacts::after {
		content: initial;
	}
}

@media screen and (max-width: 907px) {
	.services-txt,
	.services-items {
		width: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 900px) {
	.nav-link,
	.active-link {
		width: 100%;
		text-align: center;
	}
	.services {
		justify-content: center;
	}
}

@media screen and (max-width: 855px) {
	.members {
		display: flex;
		flex-wrap: wrap;
	}
	.teamlead {
		margin-bottom: 18px;
		margin-right: 0;
	}
} 

@media screen and (max-width: 800px) {
	.services-items {
		width: 100%;
		max-width: 100%;
	}
	.contacts-adress {
		padding: 1vw;
	}
}

@media screen and (max-width: 760px) {
	.contacts-form-textarea-name,
	.contacts-form-textarea-email,
	.contacts-form-textarea-message,
	.contacts-form-textarea a {
		width: 100%;
	}
	.contacts-form-textarea-name {
		margin-right: 0;
	}
}

@media screen and (max-width: 700px) {
	.header {
		padding-left: 20px;
	}
	.intro {
		flex-wrap: wrap;
	}
	.intro-txt {
		width: 100%;
	}
	.intro a {
		width: 100%;
	}
	.intro img {
		width: 100%;
		height: auto;
	}
	.intro-heading {
		font-size: 50px;
	}
}

@media screen and (max-width: 400px) {
	.subform-textarea {
		flex-wrap: wrap;
	}
}

@font-face {
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: normal;
}

body {
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}

header {
	display: flex;
	max-width: 1249px;
	min-height: 89px;
	background-color: #000;
	margin: 0 auto;
	justify-content: center;
}

.header-wrapper {
	padding-top: 29px;
	background-color: #e0e0e0;
}

.nav {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: -20px;
	align-items: stretch;
}

.nav li {
	display: flex;
	justify-content: center;
	min-height: 89px;
	align-items: stretch;
}

.nav li a {
	color: #e0e0e0;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0 30px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

.nav li a:hover {
	background-color: #ff3f40;
}

.intro-bc {
	background-color: #e0e0e0;
}

.intro {
	padding: 103px 0 94px 0;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	max-width: 1249px;
	align-items: flex-start;
}

.intro-txt {
	margin-bottom: 20px;
	width: 617px;
	margin-right: 75px;
	position: relative;
	bottom: 11px;
}

.intro-heading {
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 60px;
	line-height: 1.2;
	letter-spacing: 1.5px;
	margin-bottom: 18px;
	text-transform: uppercase;
}

.intro-heading-span {
	word-break: break-word;
	hyphens: auto;
	letter-spacing: 6px;
}

.intro-txt p {
	margin: 0 0 51px 0;
	max-width: 520px;
	opacity: 0.7;
	line-height: 1.75;
}

.intro-txt a {
	width: 227px;
	text-align: center;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	padding: 16px 0;
	background-color: #ff2d2d;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	border-radius: 5px;
}

.intro img {
	height: 356px;
	width: 551px;
	box-shadow: 0 -10px 39px 0 #7c7c7c;
}

.services {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	max-width: 1249px;
	margin: 0 auto;
	justify-content: space-between;
	padding: 105px 0 54px 0;
	border-bottom: 1px solid #ececec;
}

.services-txt {
	max-width: 502px;
	margin: 0 50px 50px 0;
	flex: 1 1 502px;
}

.services-heading {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	bottom: 5px;
	padding-bottom: 27px;
	color: #585858;
	margin: 0;
	font-size: 42px;
	text-transform: uppercase;
	line-height: 55px;
	font-weight: 600;
}

.services-txt p {
	margin-bottom: 51px;
}

.services-txt a {
	font-size: 15px;
	color: #ff3f40;
	background-color: #fff;
	border: 2px solid #ff3f40;
	display: inline-block;
	width: 227px;
	padding: 16px 0;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}

.services-items {
	display: flex;
	max-width: 608px;
	flex-wrap: wrap;
}

.services-items-list {
	flex: 1 1 288px;
	width: 288px;
	margin-bottom: 50px;
}

.services-items-list:nth-child(odd) {
	margin-right: 32px;
}

.services-items-list h2 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.5px;
	font-weight: 600;
	font-size: 22px;
	margin: 0 0 10px 0;
}

.services-items-list h2::before {
	display: block;
	height: 41px;
	width: 41px;
	margin-bottom: 23px;
}

.services-items-list-txt {
	opacity: 0.7;
	font-size: 16px;
	line-height: 1.75;
}

.services-items-list-managment::before {
	content: url('../images/service-1.png');
}

.services-items-list-design::before {
	content: url('../images/service-2.png');
}

.services-items-list-branding::before {
	content: url('../images/service-3.png');
}

.services-items-list-animation::before {
	content: url('../images/service-4.png');
}

.features {
	padding: 94px 0 52px 0;
}

.features-txt {
	width: 100%;
	margin-bottom: 66px;
	text-align: center;
}

.features-heading {
	color: #585858;
	margin: 0;
	font-family: 'Open-Sans', sans-serif;
	font-weight: 600;
	font-size: 42px;
	line-height: 55px;
	text-transform: uppercase;
	padding-left: 14px;
	margin-bottom: 16px;
}

.features-txt p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.75;
	max-width: 500px;
	margin: 0 auto 30px;
	opacity: 0.7;
}

.features-heading-line {
	background-color: #ff2d2d;
	width: 122px;
	height: 3px;
	border:none;
}

.features-nav-filter ul {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 60px;
}

.nav-link {
	position: relative;
    left: 45px;
	color: #000;
	margin-right: 55px;
	font-size: 22px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	opacity: 0.7;
}

.active-link {
	color: #ff2d2d;
	opacity: 1;
	position: relative;
    left: 45px;
	margin-right: 55px;
	font-size: 22px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	}

.nav-link:hover {
	color: #ff2d2d;
}

.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1249px;
	margin: 0 auto;
}

.features-nav-filter {
	width: 1249px;
	margin: 0 auto;
}

.features-items {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}

.features-items img {
	flex: 1 1 24%;
	min-width: 250px;
	max-width: 299px;
	height: 291px;
	margin-bottom: 18px;
	object-fit: cover;
}

.teammates {
	padding: 60px 0 110px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1249px;
	margin: 0 auto;
}

.teammates-txt {
	width: 100%;
	text-align: left;
	margin-bottom: 67px;
}

.teammates-line {
	background-color: #ff2d2d;
	width: 122px;
	height: 3px;
	border:none;
	margin-left: 0;
}

.teammates-heading {
	margin-bottom: 23px;
	color: #585858;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 42px;
	line-height: 55px;
	text-transform: uppercase;
}

.members {
	width: 100%;
	display: flex;
	align-items: stretch;
    align-content: space-between;
	min-height: 458px;
}

.teamlead {
	flex-shrink: 0;
	width: 321px;
	height: 458px;
	margin-right: 65px;
	background-color: #eb6d4a8f;
	align-self: start;
}


.teammates-txt p {
	max-width: 460px;
	margin-bottom: 30px;
}

.teammates-our {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ts-name {
	bottom: 5px;
	font-size: 30px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	opacity: 0.8;
}

.teammates-selected-info {
	position: relative;
    display: flex;
	flex-direction: column;
	align-self: start;
    justify-content: space-between;
	max-width: 642px;
	margin-top: -7px;
}

.teammates-selected-info p {
	margin: 0 0 34px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.75;
	margin-top: 16px;
}

.ts-link {
	color: #000;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	text-decoration: none;
	margin-right: 30px;
}

.ts-link:hover {
	text-decoration: underline;
}

.teammates-photo {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.member {
	margin-top: 18px;
	position: relative;
}

.member:not(:last-child) {
	margin-right: 18px;
}

.name {
	display: flex;
    justify-content: center;
    align-items: center;
	visibility: hidden;
	color: #ffffff;
	position: absolute;
	width: 100%;
	height: 37px;
	text-align: center;
	background-color: #000;
	opacity: 0.5;
	margin: 0;
	bottom: 0;
}

.member:hover > .name {
	visibility: visible;
}

.member-img {
	display: block;
	width: 197px;
	height: 214px;
	background-color: #d4dce680;
}

.subform {
	box-sizing: border-box;
	display: block;
	width: 100%;
	max-width: 100%;
	background-color: #2c2c2c;
	padding-top: 124px;
	padding-bottom: 140px;
}

.subform-txt {
	max-width: 1249px;
	margin: 0 auto;
	text-align: center;
}

.subform-heading {
	color: #fff;
	opacity: 0.8;
	text-transform: none;
	margin-bottom: 0 0 30px 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 42px;
	line-height: 55px;
}

.subform-txt p {
	color: #fff;
	opacity: 0.8;
	margin-bottom: 50px;
}

.subform-textarea {
	display: flex;
	justify-content: center;
	align-items: center;
}

.subform-textarea-input {
	color: #8e8e8e;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	flex: 0 1 521px;
	min-height: 79px;
	padding: 0;
	padding-left: 35px;
	padding-right: 35px;
	border: none;
	border-radius: 5px;
	margin-right: 22px;
	background-color: #fff;
}

.subform-textarea a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 18px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	width: 214px;
	min-height: 79px;
	background-color: #ff2d2d;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration: none;
}

.contacts {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-top: 92px;
	padding-bottom: 110px;
}

.feedback-contacts::after {
	height: 100%;
	background-color: #2c2c2c;
}

.contacts-form-txt {
	box-sizing: border-box;
}

.contacts-form-heading {
	margin: 0 0 34px 0;
	color: #585858;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 42px;
	line-height: 55px;
	text-transform: uppercase;
}
 .contacts-form-txt p {
 	margin: 0 0 50px 0;
 	font-family: 'Open Sans', sans-serif;
 	font-size: 16px;
 	line-height: 1.75;
 	max-width: 720px;
}

.contacts-form-line {
	background-color: #ff2d2d;
	width: 122px;
	height: 3px;
	border: none;
	margin: 0 0 75px 0;
}

.contacts-left-inv {
	flex: 1 1 auto;
}

.contacts-form-wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	width: 100%;
	max-width: 731px;
	margin-right: 107px;
    padding-left: 0;
    padding-right: 0;
}

.contacts-form-textarea {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contacts-form-textarea-name {
	color: #8e8e8e;
	box-sizing: border-box;
	padding-left: 54px;
	padding-right: 54px;
	border: none;
	border-radius: 5px;
	background-color: #f3f3f3;	
	margin-bottom: 45px;
	display: flex;
	align-items: center;
	font-size: 16px;
	width: 339px;
	height: 69px;
	background-color: #f3f3f3;
}

.contacts-form-textarea-email {
	color: #8e8e8e;
	box-sizing: border-box;
	padding-left: 54px;
	padding-right: 54px;
	border: none;
	border-radius: 5px;
	background-color: #f3f3f3;	
	margin-bottom: 45px;
	display: flex;
	align-items: center;
	font-size: 16px;
	width: 339px;
	height: 69px;
	background-color: #f3f3f3;
}

.contacts-form-textarea-message {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	max-width: 731px;
	height: 252px;
	box-sizing: border-box;
	padding: 35px 54px;
	margin-bottom: 45px;
	border: none;
	border-radius: 5px;
	background-color: #f3f3f3;
	color: #8e8e8e;
}

.contacts-form-textarea a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 731px;
	height: 72px;
	color: #fff;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	background-color: #ff2d2d;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration: none;
}

.contacts-adress {
	box-sizing: border-box;
	position: relative;
	color: #e0e0e0;
	background-color: #2c2c2c;
	box-sizing: border-box;
	padding: 125px 53px 125px 78px;
	min-height: 481px;
	max-width: 411px;
}

.contacts-adress-heading {
	color: #e0e0e0;
	font-size: 18px;
	margin-bottom: 13px;
}

.contacts-adress p {
	margin: 0 0 17px 0;
	font-size: 16px;
}

.contacts-right-inv {
	background-color: #2c2c2c;
	min-height: 481px;
	flex: 1 1 auto;
}

.footer-wrapper {
	background-color: #2c2c2c;
}

.footer-content {
	box-sizing: border-box;
	padding: 19px 0 0;
	color: #e0e0e0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 110px;
	background-color: #2c2c2c;
	max-width: 1249px;
	margin: 0 auto;
	flex-wrap: wrap;
}

.footer-socials-link {
	display: inline-block;
}

.footer-socials-link:not(:last-child) {
	margin-right: 18px;
}

/*Добавляем формы*/

.subscribe-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
}

.subscribe-input {
	color: #8e8e8e;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	flex: 0 1 521px;
	min-height: 79px;
	padding: 0;
	padding-left: 35px;
	padding-right: 35px;
	border: none;
	border-radius: 5px;
	margin-right: 22px;
	margin-bottom: 15px;
	background-color: #fff;
}

.subscribe-button {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 18px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	width: 214px;
	min-height: 79px;
	background-color: #ff2d2d;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
}

.feedback-form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.feedback-input {
	color: #8e8e8e;
	box-sizing: border-box;
	padding-left: 54px;
	padding-right: 54px;
	border: none;
	border-radius: 5px;
	background-color: #f3f3f3;	
	margin-bottom: 45px;
}

.feedback-name,
.feedback-mail {
	display: flex;
	align-items: center;
	font-size: 16px;
	width: 339px;
	height: 69px;
	background-color: #f3f3f3;
}

.feedback-message {
	resize: none;
	font-size: 16px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	width: 100%;
	max-width: 731px;
	height: 252px;
	box-sizing: border-box;
	padding: 35px 54px;
	margin-bottom: 45px;
	border: none;
	border-radius: 5px;
	background-color: #f3f3f3;
}

.feedback-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 731px;
	height: 72px;
	color: #fff;
	font-size: 18px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	background-color: #ff2d2d;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
}
